<section class="home-main">
  <img src="" alt="" />
  <h1>Aliqua sit pariatur labore minim ipsum mollit ipsum.</h1>
  <h2>Cillum deserunt consequat ad minim excepteur culpa esse exercitation Lorem excepteur ipsum labore anim.</h2>
  <p>Elit Lorem et ad pariatur aliqua tempor cillum reprehenderit nulla nulla veniam laborum tempor exercitation. Nisi esse anim ad culpa dolor voluptate aute. Pariatur ea anim et officia anim do ullamco. Sunt nostrud eu ipsum nostrud quis sit aliquip pariatur.
    Consectetur qui aute veniam aute et ad ad velit laboris et magna qui aute do excepteur ut culpa.</p>
</section>

<footer>
  <p>Logotype "Planet" by Jonathan Collie from the Noun Project.</p>
</footer>
