<section class="home-main" background-image="{{ apod.hdurl }}">
  <div data-toggle="collapse" data-target="#collapse-info" aria-expanded="true" aria-controls="collapse-info">
    <i class="fa fa-eye" aria-hidden="true" ng-show="!aria-expanded"></i>
  </div>
  <div id="collapse-info" class="collapse">
      <div class="container info">
        <div class="row">
          <div class="col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-10">
            <h2>{{ apod.date }}</h2>
            <h1>{{ apod.title }}</h1>
            <p ng-show="apod.copyright">Copyright: {{ apod.copyright }}</p>
            <p>{{ apod.explanation }}</p>
          </div>
        </div>
      </div>
  </div>
</section>

<footer class="container-fluid">
  <p>Logotype "Planet" by Jonathan Collie from the Noun Project.</p>
</footer>
