<section class="container home-main">
  <img src="{{ apod.hdurl }}" alt="Picture of {{ apod.title }}" />
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-xs-offset-1 col-xs-10 info">
      <h2>{{ apod.date }}</h2>
      <h1>{{ apod.title }}</h1>
      <p>{{ apod.explanation }}</p>
      <!-- <h2>Technical knowledge</h2> -->
      <!-- <p class="subheading">Cillum deserunt consequat ad minim excepteur culpa esse exercitation Lorem excepteur ipsum labore anim.</p> -->
    </div>
  </div>
</section>

<footer class="container-fluid">
  <p>Logotype "Planet" by Jonathan Collie from the Noun Project.</p>
</footer>
