<nav class="navbar navbar-default navbar-custom" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <img src="../../img/menu.svg" alt="Menu button" />
      </button>
      <a class="navbar-brand" ui-sref="anon.home">
        <img src="../../img/space-logo-24px.png" alt="Space logo" />
      </a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active"><a ui-sref="anon.home">Home</a></li>
        <li><a ui-sref="anon.about">About</a></li>
      </ul>
    </div>
  </div>
</nav>
